## Creating Lists

In [1]:
my_list = [1, 2, 3, 4, 5]

### Lists containing elements of different types

In [2]:
mixed_list = [1, 'hello', 3.14, True]

### indexing list element

In [35]:
my_list = [10, 20, 30, 40, 50]

In [36]:
print(my_list[0])

10

In [37]:
print(my_list[-1])

50

### Slicing to extract a sublist from a list

In [38]:
my_list = [10, 20, 30, 40, 50]

In [39]:
print(my_list[1:4])

[20, 30, 40]

In [40]:
print(my_list[:3])

[10, 20, 30]

In [41]:
print(my_list[2:])

[30, 40, 50]

### Modifying Lists

In [42]:
my_list = [1, 2, 3, 4, 5]

In [43]:
my_list[2] = 10

In [13]:
print(my_list)

[1, 2, 10, 4, 5]

In [44]:
my_list.append(6)

In [15]:
print(my_list)

[1, 2, 10, 4, 5, 6]

In [45]:
my_list.extend([7, 8, 9])

In [17]:
print(my_list)

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [46]:
my_list.pop()

9

In [19]:
print(my_list)

[1, 2, 10, 4, 5, 6, 7, 8]

### List Operations

In [47]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [48]:
concatenated_list = list1 + list2

In [49]:
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

## Tuples created without parentheses

In [23]:
my_tuple = 1, 'hello', 3.14, True

### Tuple Packing

In [50]:
my_tuple = 10, 20, 30

In [51]:
print(my_tuple)

(10, 20, 30)

### Tuple unpacking

In [52]:
my_tuple = 10, 20, 30

In [53]:
x, y, z = my_tuple

In [28]:
print(x)

10

In [54]:
print(y)

20

In [55]:
print(z)

30

### Tuple cannot be modify

In [31]:
my_tuple = (1, 2, 3)

In [32]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment